body{
    color: white;
    padding-top: 50px;
    font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.45;
    font-variant:none;
    text-decoration:none;
    text-transform:none;
    -webkit-font-smoothing: subpixel-antialiased;
}

a,
a:focus,
a:hover,
a:active{
    color: rgb(200, 200, 200);
}

.dark-link,
.dark-link:focus,
.dark-link:hover,
.dark-link:active
{
    color: #325C80;
    font-weight: bold;
}


html {font-size: 1em;}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.intro {
    font-size: 18px;
}

.navbar{
    background-image: none;
}

/* navbar */
.navbar-default {
    background-color: #152935;
    border: none;
    text-shadow: none;
}
/* title */
.navbar-default .navbar-brand {
    color: #FAFAFA;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FAFAFA;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FAFAFA;
    padding-left: 50px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FAFAFA;
    text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FAFAFA;
    text-decoration: underline;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FAFAFA;
    border: none;
    text-decoration: underline;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #FAFAFA;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #FAFAFA;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-bottom-color: #FAFAFA;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #FAFAFA;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FAFAFA;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FAFAFA;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FAFAFA;
        text-decoration: underline;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FAFAFA;
        text-decoration: underline;
    }
}

.head-filler{
    background-color: #5AAAFA;
    height: 500px;
}

.head{
    text-align: left;
    height: 500px;
    padding-top: 140px;
    overflow: hidden;
    background: #5AAAFA;

}

.head-img-landing {
    background: #5AAAFA url(../images/landing_background.png) no-repeat;
}

.head-img-getit {
    background: #5AAAFA url(../images/getit_background.png) no-repeat right;
}

.head-img-about {
    background: #5AAAFA url(../images/about_background.png) no-repeat;
}

.head-img-product {
    background: #5AAAFA url(../images/product_background.png) no-repeat;
}



.head p,
.head h1{
    max-width: 50%;
}

.head-items{
    padding-right: 45px;
}


.head-menu-items{
    padding-right: 45px;
}

.head-menu-items p{
    padding-bottom: 10px;
}

.header-feature{
    color: #5AAAFA;
}


.header-caret,
.header-caret a{
    color: #262626;
}


.header-feature p{
    color: #262626;
}

.head-menu{
    padding-top: 150px;
    background-color: #325C80;
    height: 500px;
}

.head-menu a{
    color: #FAFAFA;
}

.head-menu a:hover,
.head-menu a:focus,
.head-menu a:active{
    color: #FAFAFA;
    text-decoration: underline;
}


hr.black{
    margin: 25px auto 30px;
    padding: 0;
    max-width: 30px;
    border: 0;
    border-top: solid 1px;
    text-align: center;
    border-color: #262626;
}

hr.black-collapse-up{
    border: 0;
    border-top: solid 1px;
    border-color: #262626;
    margin-left: 0;
}
hr.black-collapse-down{
    border: 0;
    border-top: solid 1px;
    border-color: #262626;
    margin-left: 0;
}



hr.black-left{
    max-width: 80px;
    border: 0;
    border-top: solid 2px;
    border-color: #262626;
    text-align: left;
    margin-left: 0;
}

hr.black-right{
    max-width: 30px;
    border: 0;
    border-top: solid 1px;
    border-color: #262626;
    text-align: right;
    margin-right: 0;
}


hr.white{
    margin: 25px auto 30px;
    padding: 0;
    max-width: 30px;
    border: 0;
    border-top: solid 1px;
    text-align: center;
    border-color: #ffffff;
}

hr.white-left{
    max-width: 80px;
    border: 0;
    border-top: solid 2px;
    border-color: white;
    text-align: left;
    margin-left: 0;
}

.section {
    padding: 120px 0;
}

.highlighted-section {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: #5AAAFA;
}

.highlighted-section .fa{
    padding-top: 50px;
}

.share-section {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #152935;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #010205;

}


.white-section{
    color: #262626;
    background-color: white;
}


.black-section{
    color: white;
    background-color: black;
}

.grey-section{
    color: #262626;
    background-color: rgb(250,250,250);
}

.aligned-section{
    text-align: center;
}

.dna-section{
    text-transform: uppercase;
}

.dna-section p{
    line-height: 35px;
}

.gendata-section{
    padding-top: 140px;
}

.in-text-picture{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.features-section{
    padding-top: 40px;

}

.features-section h4{
    line-height: 25px;
}

.pip-section {
    background: url(../images/pip1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgb(230, 230, 230);
}

.about-name{
    padding-top: 30px;
    font-size: 18px;
}

.feature-descr{
    font-size: 15px;
}


.about-descr{
    font-size: 14px;
    line-height: normal;
}

.photos-row{
    padding-bottom: 40px;
}

.contacts-section{
    padding-top: 50px;
    line-height: normal;
}

.contacts-section a{
    line-height: normal;
}

.footer {
    padding-top: 20px;
}

/* Custom default button */
.btn-primary,
.btn-primary:focus {
    text-transform: uppercase;
    border-radius: 0;
    text-shadow: none;
    font-size: smaller;
    line-height: 2.5;
    border-color: transparent;
    box-shadow:none;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.btn-primary:hover,
.btn-primary:active{
    text-transform: uppercase;
    border-radius: 0;
    color: black;
    font-size: smaller;
    line-height: 2.5;
    background: white;
    border-color: black;
    box-shadow:none;
}

.btn-white,
.btn-white:focus {
    color: white;
    background: transparent;
    border-color: white;
    box-shadow:none;
}
.btn-white:hover,
.btn-white:active{
    color: black;
    background: white;
    text-shadow: none;
    border-color: transparent;
    box-shadow:none;
}
.btn-fixed-width{
    width: 60px;
    text-align: center;
}

.contactform{
    padding-top: 20px;
}

.contactmap{
    text-align: center;

    height: 500px;
    background: url(../images/map.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.to-top{
	width:50px;
	height:50px;
	padding:10px;
	text-align:center;
	background: #152935;
	color: white;
	text-decoration: none;
	position:fixed;
	top:50px;
	right:28px;
	display:none;
}

.to-top:hover{
	text-decoration:none;
}